* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
section {
	position: absolute;
	left: 0;
	top: 20px;
	background-image: url(walking.png);
	height: 314px;
	width: 256px;
	animation: walk 1s infinite steps(8), move 4s infinite linear alternate, turn 8s infinite linear;
}
@keyframes walk {
	100% {
		background-position: -2048px 0;
	}
}
@keyframes move{
	100% {
		left: calc(100% - 256px) ;
	}
}
@keyframes turn {
    50%{
        transform: rotateY(0deg);
    }
    50.01%{
        transform: rotateY(180deg);
    }
    100%{
        transform: rotateY(180deg);
    }
}